.bar .progress-line.js span {
  width: 80%;
}
.bar .progress-line.java span {
  width: 45%;
}
.bar .progress-line.dart span {
  width: 85%;
}
.bar .progress-line.python span {
  width: 40%;
}
.bar .progress-line.htcs span {
  width: 35%;
}
.progress-line.js span::after {
  content: "80%";
}
.progress-line.java span::after {
  content: "45%";
}
.progress-line.dart span::after {
  content: "85%";
}
.progress-line.python span::after {
  content: "40%";
}
.progress-line.htcs span::after {
  content: "35%";
}
